<header id="navegacion">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a id="ancla" href="/"><img id="img" class="navbar-brand" src="/img/logo.png" alt="logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{#if user }}

      {{#with user}}

      {{#if clie_privilegiado}}

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="demo">
              <form class="form-search content-search navbar-form" action="/buscar" method="get">
                <div class="input-group">
                  <input placeholder="Buscar" class="form-control form-text" type="search" 
                    list="listamodelos" size="30" maxlength="128" name="dato" required />
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger"><span class="icon glyphicon glyphicon-search"
                        aria-hidden="true"></span><i class="fa fa-search fa-lg">&nbsp;</i></button>&nbsp;
                  </span>
                </div>
              </form>
              <datalist id="listamodelos">

                <option value="Acer">

                <option value="Compumax">

                <option value="HP">

                <option value="Lenovo">

              </datalist>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="portatiles" href="/links/laptop">Portatiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="escritorio" href="/links/desktop">Escritorio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="todoenuno" href="/links/allinone">Todo en Uno</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/links/add">Agregar Producto</a>
              <a class="dropdown-item" href="/links/import_xlsx">Importar Productos desde Excel </a>
              <a class="dropdown-item" href="/links/add_vendedor">Registrar Vendedor</a>
              <a class="dropdown-item" href="/links/list_of_employee">Listar Vendedores</a>
              
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Ventas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/links/ingresos">Facturas e Ingresos</a>
              <a class="dropdown-item" href="/links/clientes">Clientes</a>
              <a class="dropdown-item" href="/links/registrar_venta">Registrar Venta</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{username}}
              <img src="{{profile_img}}" style="border-radius: 50%; padding:2%" title="{{username}}" alt="{{username}}"
                width="20px" height="20px">

            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Perfil</a>
              <a class="dropdown-item" href="/links/edit_data/{{id}}">Editar Datos</a>
              <a class="dropdown-item" href="/links/edit_slogan">Editar Slogan Principal</a>
              <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </div>
      {{else}}

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="demo">
              <form class="form-search content-search navbar-form" action="/buscar" method="get">
                <div class="input-group">
                  <input placeholder="Buscar" class="form-control form-text" type="search"  name="dato" size="30"
                    maxlength="128" required />
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger"><span class="icon glyphicon glyphicon-search"
                        aria-hidden="true"></span><i class="fa fa-search fa-lg">&nbsp;</i></button>&nbsp;
                  </span>
                </div>
              </form>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/laptop">Portatiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/desktop">Escritorio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/allinone">Todo en Uno</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Bandeja de Entrada</a>
              <a class="dropdown-item" href="#">Arma tu equipo a tu gusto</a>
              <a class="dropdown-item" href="#">Enviar Mensaje a Compugamer</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="/profile" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{username}}
              <img src="{{profile_img}}" style="border-radius: 50%; padding:2%" title="{{username}}" alt="{{username}}"
                width="20px" height="20px">

            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Perfil</a>
              <a class="dropdown-item" href="/links/edit_data/{{id}}">Editar Datos</a>
              <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </div>




      {{/if}}

      {{/with}}

      {{else}}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/signin">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarse</a>
          </li>
        </ul>
      </div>
      {{/if}}
    </div>
  </nav>
</header>