<div class="container">
    <div class="row">
        
                    <div class="demo p-4">
                        <form class="form-search content-search navbar-form" action="#"
                            method="get">
                            <div class="input-group">
                                <input placeholder="Buscar Factura" class="form-control form-text" type="search" name="dato"
                                    size="30" maxlength="128" required />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><span
                                            class="icon glyphicon glyphicon-search" aria-hidden="true"></span><i
                                            class="fa fa-search fa-lg">&nbsp;</i></button>&nbsp;
                                </span>
                            </div>
                        </form> 
                    </div>
                    
       
                    <table class="table table-responsive  table-hover d-flex justify-content-center">
                        <tr>
                            <th>Codigo Factura</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                             <th>Asesor</th>
                            <th>Ingresos Parciales</th>
                            <th>Fecha Compra</th>
                            
                           
                        
                        </tr>
                     {{#each datos}}
                      <tr>
                          <td>{{factura}}</td>
                          <td>{{cliente}}</td>
                          <td>{{producto}}</td>
                          <td>{{cantidad}}</td>
                          <td>{{vendedor}}</td>
                          <td>{{ingresos}}</td>
                          <td>{{fecha}}</td>
                         
                          
                      </tr>

                     {{/each}}
                     </table>
                {{#each datos_total}}
                <div style="margin: 20px; ">
                <h4 style="text-align: center;">Ingresos Totales :  {{ingresos_total}}</h4>
                </div>
                {{/each}}
    </div>
</div>

<style type="text/css"> 
body{ 
    
    overflow: auto !important;
}
</style> 